*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ====GRID SYSTEM==== */
.container{
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row{
  position: relative;
  width: 100%;
}

[class*="col-"]{
  float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* offset */
.col-offset-1{
  margin-left: calc((100%/12)*1);
}
.col-offset-2{
  margin-left: calc((100%/12)*2);
}
.col-offset-3{
  margin-left: calc((100%/12)*3);
}
.col-offset-4{
  margin-left: calc((100%/12)*4);
}
.col-offset-5{
  margin-left: calc((100%/12)*5);
}
.col-offset-6{
  margin-left: calc((100%/12)*6);
}
.col-offset-7{
  margin-left: calc((100%/12)*7);
}
.col-offset-8{
  margin-left: calc((100%/12)*8);
}
.col-offset-9{
  margin-left: calc((100%/12)*9);
}
.col-offset-10{
  margin-left: calc((100%/12)*10);
}
.col-offset-11{
  margin-left: calc((100%/12)*11);
}
.col-offset-12{
  margin-left: calc((100%/12)*12);
}


.row::after{
  content: "";
  display: table;
  clear: both;
}
